<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{dashboard}"
>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/assets/css/base.css}">
</head>
<body>
<section class="sections" layout:fragment="content">
    <h3>Listado de pedidos</h3>
    <nav class="navbar navbar-light bg-light">
        <a th:href="@{create-order}" class="btn btn-success">
            <i class="bi bi-plus-square"></i>
            <span>Crear nuevo</span>
        </a>
        <div class="d-flex">
            <input class="form-control me-2" type="search" placeholder="Buscar pedido ..." aria-label="Search">
        </div>
    </nav>
    <div class="table-responsive">
        <table class="table table-hover text-center align-middle">
            <thead class="table-dark">
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Total</th>
                <th scope="col">Mesa</th>
                <th scope="col">Creado</th>
                <th scope="col">Estado</th>
                <th scope="col">Editar</th>
                <th scope="col">Eliminar</th>
            </tr>
            </thead>
            <tbody>
            <th:block th:each="order : ${orders}">
                <tr th:data-id="${order.id}">
                    <td th:text="${order.id}"></td>
                    <td th:text="${order.total}"></td>
                    <td th:text="${order.table}"></td>
                    <td th:text="${order.creationDate}"></td>
                    <td>
                        <th:block th:switch="${order.status}">
                            <span th:case="${T(com.prototype.restaurante_el_negro.enums.OrderStatus).PENDIENTE}" class="badge bg-success" th:text="${order.status}"></span>
                            <span th:case="${T(com.prototype.restaurante_el_negro.enums.OrderStatus).PAGADO}" class="badge bg-warning text-dark" th:text="${order.status}"></span>
                            <span th:case="${T(com.prototype.restaurante_el_negro.enums.OrderStatus).CANCELADO}" class="badge bg-danger" th:text="${order.status}"></span>
                            <span th:case="*" class="badge bg-warning text-dark">None</span>
                        </th:block>
                    </td>
                    <td>
                        <button type="button" class="btn btn-sm btn-primary">
                            <i class="bi bi-pencil-square"></i>
                        </button>
                    </td>
                    <td>
                        <button type="button" class="btn btn-sm btn-danger">
                            <i class="bi bi-trash"></i>
                        </button>
                    </td>
                </tr>
            </th:block>
            </tbody>
        </table>
    </div>

</section>

</body>
</html>